/* Header */
header {
    display: flex; 
    justify-content: space-between;
}

/* visited/unvisited link */
header > a:link, 
header > a:visited {
  color: purple;
  text-decoration: none;
}

/* mouse over link */
header > a:hover {
  opacity: 0.8;
  text-decoration: none;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    padding-top: 1vw;
    padding-left: 31vw;
    padding-right: 31vw;
}

/* Intro */
#intro {
    text-align: center;
}

/* Buttons */
button {
    background-color: purple;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Horizontal Rule */
hr {
    color: gray;
}

/* Correct/Wrong Texts */
h5 {
    color: gray;
}

/* Game Over message */
#final-message {
    display: none;
}

#final-message h2 {
    display: inline;
}

/* Highscores Containers */
#score_container {
    text-align: center;
    padding-top: 1vw;
}

#highscores {
    background-color: rgb(247, 237, 245);
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 1%;
    padding-top: 1px;
    padding-bottom: 1px;
}